ФИО:

In [ ]:
Тыщенко Илья

# **Задание 1**



Дан словарь, содержащий имена и возраст людей, напишите программу выводящую возраст человека по имени

Дано:

```
{"Alice": 25, "Bob": 30, "Charlie": 35}
```

Вввод:


```
Alice
```

Вывод:


```
Alice 25
```

In [ ]:
friends = {
    "Alice": 25,
    "Bob": 30,
    "Charlie": 35
}
name = input('Введите имя: ')
print(name, friends[name])

Введите имя: Alice
Alice 25

# **Задание 2**



Дан список, состоящий из целых чисел, необходимо написать функцию считающую сумму всех положительных четных чисел списка

Ввод:

```
1, 2, 3, 4, 5, 6, 7, 8, 9
```

Вывод:


```
20
```

***Запрещено:***

*   Использование готовых функций для суммирования чисел

In [ ]:
numbers = input().split(', ')
sum = 0
for number in numbers:
  if int(number) > 0 and (int(number) % 2 == 0):
    sum += int(number)
print(sum)

1, 2, 3, 4, 5, 6, 7, 8, 9
20

# **Задание 3**

Дан словарь, содержащий название фрукта и его цвет, выведите список всех желтых фруктов


Дано:

```
fruits_and_flowers = {
    "apple": "rose",
    "banana": "lily",
    "mango": "sunflower",
    "orange": "daisy",
    "lemon": "tulip",
    "grape": "orchid"
}
```

Вывод:


```
Yellow fruits:
banana
lemon
mango
```

In [ ]:
fruits_and_colors = {
    "apple": "red",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "purple"
}
print('Yellow fruits:')
for fruit, color in fruits_and_colors.items():
  if color == 'yellow':
    print(fruit)

Yellow fruits:
banana
mango
lemon

# **Задание 4**



Дан словарь, необходимо написать функцию меняющую ключ и значение местами

Дано:


```
{"a": 1, "b": 2, "c": 3}
```

Вывод:

```
{1: 'a', 2: 'b', 3: 'c'}
```

In [ ]:
letters_and_numbers = {"a": 1, "b": 2, "c": 3}
new_dict = {}
for letter, number in letters_and_numbers.items():
  new_dict[number] = letter
print(new_dict)

{1: 'a', 2: 'b', 3: 'c'}

# **Задание 5**

Дан список слов, неограниченной длинны, сформируйте словарь, где в качестве ключа будет слово, а в качестве значения количество символов

**Критерии**


*   Словарь необходимо отсортировать по убыванию количества элементов в списке.
*   Подсчет элементов должен быть реализован в отдельной функции
*   Сортировка пары `ключ:значение` должна быть реализована также в виде отдельной функции




Дано:
```
['apple','banana','orange','apple','apple','banana']
```


Вывод:
```
{'apple':3, 'banana': 2, 'orange': 1}
```

***Запрещено:***

*   Использование готовых функций для сортировки словаря
*   Использование готовых функций для подсчета элементов

In [ ]:
dump = {
    1: 'единица',               # Ключ - число, значение - строка.
    'земляника': 'ягода',       # И ключ, и значение - строки.
    'помидор': 'ягода',         # Значение 'ягода' - не уникально. Так можно.
    False: 0,                   # Ключ - булево значение, значение - число.
    'лук': ['овощ', 'оружие'],  # Ключ - строка, значение - список.
    # Ключ - строка, а значение - словарь. Так тоже можно!
    'англо-русский словарь': {'рука': 'hand',
                              'нога': 'leg',
                              'бэкенд-разработчик': 'back-end developer'
                               },
}

print(dump['англо-русский словарь'])
# Будет напечатано ['овощ', 'оружие']

{'рука': 'hand', 'нога': 'leg', 'бэкенд-разработчик': 'back-end developer'}

In [ ]:
string = ['apple','banana','orange','apple','apple','banana']
string_dict = {}
def count_dict(string):
  for i in string:
    count = 0
    for j in string:
      if i == j:
        count += 1
    string_dict[i] = count
  return string_dict

def sort_dict(string_dict):
  sorted_string_dict = {}
  count_coincidence = list(string_dict.items())
  count_coincidence.sort(key=lambda i: i[1], reverse = True)
  for key, value in count_coincidence:
    sorted_string_dict[key] = value
  return sorted_string_dict

print(sort_dict(count_dict(string)))

{'apple': 3, 'banana': 2, 'orange': 1}

# **Задание 6**

Дан словарь, содержащий информацию о людях, необходимо:



*   Вывести всех людей старше 30 лет
*   Вывести список городов и количество людей из словаря проживающих в них
*   Вывести список профессий и список людей для каждой профессии

**Критерии**

Каждый из пунктов необходимо реализовать в виде функции

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

In [ ]:
def age_people(people_dict,age=30):
  people_info_age = ''
  print('Люди старше 30 лет:')
  for name, info in people_dict.items():
    if info['age'] > age:
      print(name)
  print('')

def city_people(people_dict):
  cities = set()
  cities_info_dict = {}
  print('Количество людей проживающих в городе:')
  for name, info in people_dict.items():
    cities.add(info['city'])
  for city in cities:
    count = 0
    for name, info in people_dict.items():
      if city in info['city']:
        count += 1
    print(city, ':', count)
  print('')

def occupation_people(people_dict):
  occupations = set()
  occupation_info_dict = {}
  print('Список профессий и людей для каждой профессии')
  for name, info in people_dict.items():
    occupations.add(info['occupation'])
  for occupation in occupations:
    people_in_occupation = ''
    for name, info in people_dict.items():
      if occupation in info['occupation']:
        people_in_occupation += name + ' '
    print(occupation, ':', people_in_occupation)

people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

age_people(people_info)
city_people(people_info)
occupation_people(people_info)

Люди старше 30 лет:
Charlie
Ethan
Frank
Harrison
Julian
Kate
Lucas
Natalie
Oliver
Penelope
Quincy
Rachel
Tessa

Количество людей проживающих в городе:
New York : 1
Cleveland : 1
Atlanta : 2
San Diego : 1
Los Angeles : 1
Nashville : 3
Minneapolis : 1
Miami : 3
Chicago : 1
San Francisco : 1
Portland : 1
Seattle : 1
Washington D.C. : 1
Philadelphia : 1
Denver : 1

Список профессий и людей для каждой профессии
Doctor : Diana
Singer : Quincy
Lawyer : Frank Tessa
Artist : Mia
Businessman : Lucas
Chef : Ethan
Designer : Bob
Journalist : Isabella
Architect : Harrison
Software Engineer : Gabriella
Engineer : Alice Gabriella Sophia
Musician : Julian
Writer : Natalie
Professor : Oliver
Nurse : Kate
Marketing Manager : Penelope
Teacher : Charlie Rachel

# **Задание 7**

Задание: Разработка системы отзывов о предметах

Описание: Создать программу на Python для хранения и управления отзывами о предметах учебного курса. Программа должна позволять пользователям добавлять, просматривать и удалять отзывы, а также вычислять средний балл по заданному предмету.

**Функционал:**

*   Добавление отзыва и оценки:
   *   Пользователь может ввести название предмета, оценку (от 1 до 5) и текст отзыва.
   *   Отзывы должны храниться в структуре данных (например, словаре), где ключом будет название предмета, а значением - список отзывов (каждый отзыв может хранить оценку и комментарий).
*   Просмотр отзывов и оценок:
   *   Пользователь может запросить отзывы для указанного предмета.
   *   Если для указанного предмета есть отзывы, программа должна отобразить список всех отзывов и соответствующих оценок.
*   Удаление отзыва:
   *   Пользователь может удалить отзыв по индексу. Необходимо заранее уведомить пользователя о том, какие отзывы доступны для удаления.
   *   Программа должна обработать ситуацию, когда индекс введен неправильно.
*   Вычисление среднего балла по предмету:
   *   Пользователь может ввести название предмета, и программа должна вычислить и вывести средний балл по всем отзывам для этого предмета.
   *   Если отзывов нет, программа должна сообщить об этом.


**Критерии:**

*   Код должен быть оформлен в виде функций
*   Необходимо обрабатывать неправильный ввод пользователя
*   Должны быть комментарии к функциям
*   Присутсвует весь дополнительный функционал



**Опционально:**

Предлагаю вам добавить свои критерии оценки или вопросы, на которые должен ответить студент, чтобы оценить пару